<h1>Hogar</h1>
<ul class="nav nav-list">
  <li class="nav-header">Habitaciones y Cuartos</li>
  <li><%= link_to "Hogar", root_path %></li>
  <li id="sala" data-toggle="tooltip" data-placement="bottom" data-title="Ejemplo" data-trigger="hover"><%= link_to "Sala", sala_path  %></li>
  <li><%= link_to "Comedor", comedor_path  %></li>
  <li><%= link_to "Cocina", cocina_path  %></li>
  <li><%= link_to "Baño", bano_path  %></li>
  <li><%= link_to "Habitación Principal", habitacion_principal_path  %></li>
  <li><%= link_to "Habitación Secundaria", habitacion_secundaria_path  %></li>
  <li><%= link_to "Cochera", cochera_path  %></li>
  <li><%= link_to "Patio", patio_path  %></li>
</ul>